{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/cardapio.css' %}">
{% endblock %}
{% block 'content' %}
<div>
    <p>
        Olá, seja bem vindo ao <strong>RESTAURANTS</strong>!
        <br>
        Essa é uma plataforma onde você pode cadastrar e criar um cardápio para o seu restaurante ou lanchonete de forma
        super simples!
    </p>
    <p>Você pode ver alguns restaurantes cadastrados ou criar o seu <a href="{% url 'create_restaurant' %}">aqui</a></p>
</div>
<div>
    <h2>restaurantes cadastrados</h2>
    {% if restaurants %}
    <div class="restaurants">
        {% for restaurant in restaurants %}
            <a href="{% url 'detail_restaurant' restaurant.slug %}">
                <div class="restaurant">
                    <span>{{ restaurant.name }}</span>
                    <img src="{{ restaurant.logo.url }}" alt="">
                </div>
            </a>
        {% endfor %}
    </div>
    
    {% endif %}
</div>
{% endblock %}