/* index */
.restaurants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

.restaurants .restaurant {
    width: 100%;
    background-color: #00000027;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    box-shadow: #000000bd 5px 5px 10px;
}

.restaurant img {
    width: 75px;
    height: 75px;
    object-fit: cover;
}

/* Detail Product Area */
/* modal */
.hide {
    display: none;
}