/* index */
.restaurants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

.restaurants .restaurant {
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #919191
}

.restaurant img {
    width: 75px;
    height: 75px;
    object-fit: cover;
}

.restaurant:hover {
    box-shadow: #919191 0px 0px 10px;
}

/* detail_restaurant.html */
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    gap: 1rem;
}

.products {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product {
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
    justify-content: center;
    align-items: center;
    border: 1px solid #919191;
    border-radius: 8px;
    padding: 1rem;
    font-size: small;
}

.product div {
    width: 70%;
}

.product img {
    height: 100px;
    width: 75px;
    object-fit: cover;
    border-radius: 8px;
}

.product .product-title {
    font-weight: 700;
}

.product .product-description {
    color: #919191;
}

/* modal */
.hide {
    display: none;
}

.overflow {
    overflow: hidden;
}

.box-shadow {
    height: 100%;
    width: 100%;
    background-color: #000000b0;
    position: fixed;
    top: 0;
    left: 0;
    scroll-behavior: smooth;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: fit-content;
    max-height: fit-content;
    padding: 1rem;
    z-index: 100;

    background-color: #2222ff;
    color: #fff;

    border-radius: 8px;
    gap: 1rem;
}

.modal img {
    width: 200px;
}