{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block 'head' %}{% endblock %}
    <title>{% block 'title' %}{% endblock %}RESTAURANTS</title>
</head>

<body>
    <header>
        {% block 'nav' %}
        <h1>Bem Vindo ao <br>RESTAURANTS!</h1>
        <nav>
            <a href="{% url 'index' %}">Home</a>
            <a href="#">Sobre</a>
        </nav>
        {% endblock %}
    </header>
    <main>
        {% block 'content' %}
        {% endblock %}
    </main>
    <footer>
        <span><small>Todos os direitos reservados a RESTAURANTS</small></span>
        <nav>
            <a href="{% url 'index' %}">Home</a>
            <a href="#">Sobre</a>
        </nav>
    </footer>
</body>

</html>