{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESTAURANTS</title>
</head>

<body>
    <header>
        {% block 'header' %}
        <h1>Bem Vindo ao RESTAURANTS!</h1>
        <nav>
            <a href="{% url 'index' %}">Home</a>
            <a href="#">Sobre</a>
        </nav>
        {% endblock %}
    </header>
    <main>
        {% block 'content' %}
        {% endblock %}
    </main>
    <footer>
        <span>Todos os direitos reservados a RESTAURANTS</span>
    </footer>
</body>

</html>